<ion-view title ="" name="formulario" ng-controller="FormController">
    <ion-content>
        <form>
            <label class="item item-input" name="inputform">
                <span class="input-label">Nombre:</span>
                <input ng-model="username" type="text"/>
            </label>
        </form>
        <div class="card">
            <div class="item item-divider">
                Vista Previa
            </div>
            <div class="item item-text-wrap" id="preview">
                Estimados miembros de la comisión de Constitución, el motivo de este mail es para pedirle que apoye el proyecto de acuerdo para poner límite a la dieta parlamentaria, no olvide que somos nosotros, el pueblo, los que deberíamos decidir en democracia que
                es lo que queremos para nuestros país.
                <br><br>
                Se despide atte, {{username}}
            </div>
        </div>
        <button ng-click="sendMail(username)" class="button button-positive button-block">Enviar peticion</button>
    </ion-content>
</ion-view>