<ion-view view-title="Voz Ciudadana">
  <ion-content class="padding">
    <div>
          <h1>Voz Ciudadana, hazte escuchar</h1>

          <p>
            Esta aplicación tiene como finalidad, ser un puente entre la ciudadanía con los diputados. Podrás enviar un mensaje hacia los diputados de las diferentes comisiones, entregando tu apoyo a las diferentes leyes que se encuentran tramitando en la cámara de diputados. De esta forma podremos darnos a escuchar como ciudadanos de la República de Chile.
          </p>
    </div>
  </ion-content>
</ion-view>
