<ion-view view-title="Quienes Somos">
  <ion-content padding="true">
    <div class="list card">
            <div class="item item-divider">
                Creador de la aplicación
            </div>

            <div class="item item-avatar">
                <img src="https://lh3.googleusercontent.com/-7fjQ4p_3dVo/AAAAAAAAAAI/AAAAAAAAAlk/T13ezsL3a-I/s120-c/photo.jpg">
                <h2>Miguel Angel Zapata</h2>
                <p>miguel.zapatae@gmail.com</p>
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                @MZapatae_
            </a>

        </div>
        <div class="list card">
            <div class="item item-divider">
                Idea Original
            </div>
            <div class="item item-avatar">
                <img src="http://aionsoft.cl/assets/perfil-dimitry.png">
                <h2>Dimitry Castex</h2>
                <p>miguel.zapatae@gmail.com</p>
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                @DimitryCastex
            </a>

        </div>
        <div class="list card">
            <div class="item item-divider">
                Publicado por
            </div>
            <div class="item item-avatar">
                <img src="https://pbs.twimg.com/profile_images/474720565551304705/BY1W51ZM.png">
                <h2>Aionsoft</h2>
                <p>contacto@aionsoft.cl</p>
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                @AionSoftCL
            </a>

        </div>
        <button class="button button-assertive button-block">Disclaimer</button>
  </ion-content>
</ion-view>
