<ion-view view-title="Proyectos" ng-controller="ProyectsController">
  <ion-content padding="true">
    <div class="list card">
            <div class="item">
                <h3>Disminución de Dieta Parlamentaria</h3>
                <p>Presentada en Abril, 2014</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="http://static.latercera.com/20140409/1925628.jpg">
            </div>
            <p></p>
            <center>
                Hace un año los diputados Giorgio Jackson y Gabriel Boric presentaron un proyecto de ley para poner límite a la dieta parlamentaria.
                <br>
                <br>El proyecto actualmente se encuentra dormido en la Comisión de Constitución, Legislación y Justicia.
                <br></br>     
            </center>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ui-sref="tab.form">
                    <i class="icon ion-thumbsup"></i>
                    Apoya
                </a>

                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i>
                    Comparte
                </a>
            </div>
        </div>
        <button ui-sref="tab.comision" class="button button-block button-stable icon-right ion-chevron-right">Diputados de la comision</button>
  </ion-content>
</ion-view>
