<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Principal" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Proyects Tab -->
  <ion-tab title="Proyectos" icon="ion-folder" href="#/tab/proyects">
    <ion-nav-view name="tab-proyects"></ion-nav-view>
  </ion-tab>

  <!-- Help Tab -->
  <ion-tab title="Quienes somos" icon="ion-help" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
